@mixin box{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    display: grid;
    // clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border-radius: 5px;
    margin-top: 15px;
    background-size: cover;
    background-repeat: no-repeat;  
    transition: 0.5s ease;
    opacity: 0.6;
}

.box{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    font: 14px/1.3 Arial,sans-serif;
}

.circle1:hover {
opacity: 1;
box-shadow: 2px 4px 4px rgb(14, 9, 5);
}

.circle1{
    @include box;
    background-image: url(../img/1.png);
}

.circle2{
    @include box;
    background-image: url(../img/2.png);
}

.circle3{
    @include box;
    background-image: url(../img/3.png);
}

.circle4{
    @include box;
    background-image: url(../img/4.png);
}

.circle5{
    @include box;
    background-image: url(../img/5.png);
}

.circle6{
    @include box;
    background-image: url(../img/6.png);
}

.circle7{
    @include box;
    background-image: url(../img/7.png);
}

.circle8{
    @include box;
    background-image: url(../img/8.png);
}

.circle9{
    @include box;
    background-image: url(../img/9.png);
}

.circle10{
    @include box;
    background-image: url(../img/10.png);
}

.circle11{
    @include box;
    background-image: url(../img/11.png);
}

.circle12{
    @include box;
    background-image: url(../img/12.png);
}