@import './variables';

body{
    margin: 0;
}

header {
    position: fixed;
    background-color: rgba(33, 33, 33, 0.699);
    color: #ffffff;
    font-family: 'Sulphur Point', sans-serif;
    height: 80px;
    position:relative;
    z-index: 5;
    align-items: center;
}

.logo {
    width: 70px;
    font-size: 2em;
    display: flex;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    transition: 0.7s ease; 
    
}

#logo:hover {
    font-size: 2.3em;
}

a , a:visited {
    color: #ededed;
    text-shadow: 1px 1px 1px rgb(0, 1, 2);
}

a:hover{
    color: $second;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a{
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
   
}

nav i{
    padding: 0 10px 0 0;
    
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height:160px;
    overflow:auto;
}

nav ul li {
    transition: all 0.7s;
}

nav ul li ul li {
    background-color:  rgb(0, 0, 0);
}


nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
    opacity: 1;
}

nav ul li ul li a {
    display: block;
    text-align: left;
    width: 100px;
    padding: 7px 40px 10px 7px;
}

.section1{
    background-image: url(../svg/astroitsbeltp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    display: grid;
    margin-top: -50px;
    justify-content: center;

}

.container{
    margin-top: 80px;
    background-color: rgba(#000000, 0.2);
    text-shadow: 1.5px 1.5px $second;
    color: #fff;
    width: 700px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    border-radius: 25px;
}

footer{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right, #9d6a49, #bdaca8, #252530);
    box-shadow: 10px 10px 10px 10px;
}

.social{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 900px 100px 100px 100px 100px 100px;
    line-height: 80px;
    margin-left: 0px;

}

.links{
    margin-left: 50px;
    font-size: 40px;
    transition: 0.9s;
}

.links:hover{
    filter: grayscale(100%) brightness(70%) contrast(0.9);
    transform: scale(1.5);
}