
#bgst{
  background-image: url(../svg/bgstars.svg);
}

svg{
  width: 100%;
}

.st0{fill:none;stroke:#0081B0;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:#C1C1C0;}
.st2{fill:#3D4AA3;}
.st3{fill:#C1C1BF;}


.constellation{
  fill: #C1C1C0;

}

.color1{
  background: white;
  color: black;
}

.color2{
  background: black;
  color: white;
}