@import './layout';
@import './stars';
@import './variables';


.home {
    margin-top: -400px;
    display: flex;
    justify-content: center;
}

.truestar {
    width: 400px;
    height: 500px;
    background-color: #fff;
    transition: 0.5s
}

.truestar:hover {
    padding-left: 200px;
}

.falsestar{
    width: 400px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.5s
}

.falsestar:hover {
    padding-right: 200px;
}