header {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.699);
  color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
  height: 50px;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  width: 700px;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 30px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

#logo:hover {
  font-size: 2.3em;
}

a, a:visited {
  color: #ededed;
  text-shadow: 1px 1px 1px #000102;
}

a:hover {
  color: #be6b4d;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav i {
  padding: 0 10px 0 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 160px;
  overflow: auto;
}

nav ul li {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav ul li ul li {
  background-color: black;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
}

nav ul li ul li a {
  display: block;
  text-align: left;
  width: 100px;
  padding: 7px 40px 10px 7px;
}

footer {
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#38160a), color-stop(#385567), to(#162431));
  background-image: linear-gradient(to right, #38160a, #385567, #162431);
  -webkit-box-shadow: 10px 10px 10px 10px;
          box-shadow: 10px 10px 10px 10px;
}

.social {
  height: 100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 900px 100px 100px 100px 100px 100px;
      grid-template-columns: 900px 100px 100px 100px 100px 100px;
  line-height: 80px;
  margin-left: 0px;
}

.links {
  margin-left: 50px;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.links:hover {
  -webkit-filter: grayscale(100%) brightness(70%) contrast(0.9);
          filter: grayscale(100%) brightness(70%) contrast(0.9);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 14px/1.3 Arial,sans-serif;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover,
.circle7:hover, .circle8:hover, .circle9:hover, .circle10:hover, .circle11:hover, .circle12:hover {
  opacity: 1;
  -webkit-box-shadow: 2px 4px 4px #0e0905;
          box-shadow: 2px 4px 4px #0e0905;
}

.circle1 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/1.png);
}

.circle2 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/2.png);
}

.circle3 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/3.png);
}

.circle4 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/4.png);
}

.circle5 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/5.png);
}

.circle6 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/6.png);
}

.circle7 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/7.png);
}

.circle8 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/8.png);
}

.circle9 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/9.png);
}

.circle10 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/10.png);
}

.circle11 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/11.png);
}

.circle12 {
  height: 100px;
  width: 100px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  border-radius: 5px;
  margin-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0.6;
  background-image: url(../img/12.png);
}

#bgst {
  background-image: url(../svg/bgstars.svg);
}

svg {
  width: 100%;
}

.st0 {
  fill: none;
  stroke: #0081B0;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #C1C1C0;
}

.st2 {
  fill: #3D4AA3;
}

.st3 {
  fill: #C1C1BF;
}

.constellation {
  fill: #C1C1C0;
}

.constellation:hover {
  fill: #afaf9f;
}

body {
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: center;
}

.space {
  z-index: 99;
  height: 300px;
  width: 500px;
}
/*# sourceMappingURL=style_home.css.map */