body{
    margin: 0;
    background-color: #fff;
}

header{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;


}

#logo{
    background-color: rgb(20, 49, 31);
    width: 400px;
    height: 40px;
}

.nav{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
