@import './layout';
@import './stars';
@import './variables';





body{
    margin: 0;
}


.container{
    display: grid;
    grid-template-rows: 300px;
}

svg{
margin-left: 340px;
margin-top: -450px;
width: 150%;
}



.picturebox{
    background-image: url(../img/Asteroid-in-space-780x405.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: solid;
}

.asteroidtext {
    margin: 10px 20px;
    text-align: justify;
}
