@import './header';
@import './stars';
@import './circle';

body{
    margin: 0;
    background-color: #fff;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: center;
}

.space{
  z-index: 99;
  height: 300px;
  width: 500px;
}

.section1{
  background-image: url(../img/section1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  display: grid;
  
}

#textbox {
    margin-left: 250px;
    margin-top: 100px;
    background-color: black;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    color: #fff;
    font-size: 30px;
}


.container{
  margin-left: 100px;
  margin-top: 100px;
  background-color: black;
  color: #fff;
  opacity: 0.2;
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

footer{
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, #38160a, #385567, #162431);
  box-shadow: 10px 10px 10px 10px;
}