@import './layout';
@import './stars';
@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 550px;


}

#slider{
    overflow: hidden;

}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float: left;
    width: 20%;
}

img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.contain{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}

.contain .card{
    position: relative;
    width: 140px;
    height: 200px;
    background: rgba(#000000, 0.6);
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: 0.5s;
    overflow: hidden;
    transform-style: preserve-3d;
}


.contain:hover .card{
    transform: perspective(500px) rotateY(30deg);
}

.contain .card:hover{
    transform: perspective(500px) rotateY(0deg);
}

.contain .card:hover ~ .card{
    transform: perspective(500px) rotateY(-30deg);
}

.contain .card h3{
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: $second;
    color: orange;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow 0.5s;
}

.contain .card:hover h3{
    background: rgba(#000000, 0.4);
    color: $second;
    box-shadow: 0 0 0 150px $second;
}

@keyframes slider{
    0%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}