@import './layout';
@import './stars';
@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, #0b74cb 0%, ob74cb 50%, #fff 50%, #fff 100%);
}

.contain{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}

.contain .card{
    position: relative;
    width: 180px;
    height: 240px;
    background: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: 0.5s;
    overflow: hidden;
    transform-style: preserve-3d;
}


.contain:hover .card{
    transform: perspective(500px) rotateY(30deg);
}

.contain .card:hover{
    transform: perspective(500px) rotateY(0deg);
}

.contain .card:hover ~ .card{
    transform: perspective(500px) rotateY(-30deg);
}

.contain .card h3{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 3em;
    background: $second;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow 0.5s;
}

.contain .card:hover h3{
    background: #fff;
    color: $second;
    box-shadow: 0 0 0 150px $second;
}