@import './layout';
@import './stars';


body{
    margin: 0;
}


.container{
    margin-left: 160px;
    margin-top: 80px;
    background-color: rgba(#000000, 0.2);
    color: #fff;
    width: 700px;
    height: 600px;
    display: grid;
    grid-template-rows: 300px;
    border-radius: 25px;
}



.picture1{
    background-image: url(../img/Asteroid-in-space-780x405.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: solid;
}

.asteroidtext {
    margin: 10px 20px;
    text-align: justify;
}
