@import './layout';
@import './stars';
@import './variables';


.container{
    display: grid;
    grid-template-rows: 300px;
}



.meteorite{
    background-image: url(../img/meteorite.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid;
}


.asteroid{
    background-image: url(../img/asteroid.jpg);
    background-size: cover;
    background-position: 0 40%;
    background-repeat: no-repeat;
    border-bottom: solid;
}

.comet{
    background-image: url(../img/comet.jpg);
    background-size: cover;
    background-position: 0 60%;
    background-repeat: no-repeat;
    border-bottom: solid;
}

.meteoroid{
    background-image: url(../img/meteoroid.jpg);
    background-position: 20% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid;
}   

.meteortext{
    margin: 10px 20px;
    text-align: justify;
}
