.st0 {
  fill: #252530;
}

.st1 {
  fill: #8CA8AF;
}

.st2 {
  fill: #AA5D26;
}

.st3 {
  opacity: 0.44;
  fill: #F4F0EE;
}

.st4 {
  opacity: 0.38;
  fill: #F4F0EE;
}

.st5 {
  opacity: 0.38;
  fill: #121111;
}

.st6 {
  fill: #3E1D11;
}

.st7 {
  opacity: 0.64;
  fill: #DED1CC;
}

.st8 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #C2B3B6;
}

.st10 {
  fill: #95CEE9;
}

.st11 {
  fill: #334C56;
}

.st12 {
  fill: #458ECC;
}

.st13 {
  opacity: 0.44;
  fill: #141819;
}

.st14 {
  fill: #ADDBEA;
}

.st15 {
  fill: #C8CCCD;
}

.st16 {
  font-family: 'SulphurPoint-Regular';
}

.st17 {
  font-size: 10px;
}

.st18 {
  fill: #492616;
}

.st19 {
  opacity: 0.89;
  fill: #89685C;
}

.st20 {
  opacity: 0.58;
  fill: #89685C;
}

.st21 {
  fill: #89685C;
}

.st22 {
  opacity: 0.55;
  fill: #53443E;
}

.st23 {
  opacity: 0.92;
  fill: #89685C;
}

.st24 {
  fill: #53443E;
}

.st25 {
  opacity: 0.63;
  fill: #53443E;
}

.st26 {
  opacity: 0.45;
  fill: #89685C;
}

.st27 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 1.5704;
  stroke-miterlimit: 10;
}

.st28 {
  fill: #492618;
}

.st29 {
  fill: #492F22;
}

.st30 {
  fill: #6E5144;
}

.st31 {
  fill: #9D6A49;
}

.st32 {
  fill: #9E6C4A;
}

.st33 {
  fill: #B2876E;
}

.st34 {
  fill: #BDACA8;
}

.st35 {
  fill: #DFCECF;
}

.st36 {
  fill: #CDC3C7;
}

.st37 {
  opacity: 0.29;
  fill: #D1C9C5;
}

.st38 {
  fill: none;
}

.st39 {
  fill: #F3B22C;
}

.st40 {
  fill: #B62025;
}

.st41 {
  font-size: 7.9305px;
}

.st42 {
  fill: #492617;
}

.st43 {
  fill: #1B4177;
}

.st44 {
  fill: #41592B;
}

.st45 {
  fill: #B0B8C1;
}

.st46 {
  opacity: 0.31;
  fill: #F7FBFD;
}

.st47 {
  fill: none;
  stroke: #C5B2AD;
  stroke-miterlimit: 10;
}

.st48 {
  fill: #871719;
}

.st49 {
  opacity: 0.49;
  fill: #190C0E;
}

.st50 {
  opacity: 0.49;
  fill: #170C0D;
}

.st51 {
  fill: #602F23;
}

.st52 {
  fill: #9A2C20;
}

.st53 {
  fill: #49170F;
}

.st54 {
  opacity: 0.34;
  fill: #D3CFCE;
}

.st55 {
  opacity: 0.42;
}

.st56 {
  fill: #5481C1;
}

.st57 {
  fill: #7F904C;
}

.st58 {
  fill: #B6892D;
}

p {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

h2 {
  font-size: 18px;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

h3 {
  font-size: 16;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

body {
  margin: 0;
}

header {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.699);
  color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
  height: 80px;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a, a:visited {
  color: #ededed;
}

a:hover {
  color: #be6b4d;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav i {
  padding: 0 10px 0 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 160px;
  overflow: auto;
}

nav ul li {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav ul li ul li {
  background-color: black;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
}

nav ul li ul li a {
  display: block;
  text-align: left;
  width: 100px;
  padding: 7px 40px 10px 7px;
}

.logo {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 30px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

main {
  background-color: #1e1e27;
}

.background {
  background-image: url(../img/astroitsbeltp.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 160px;
      grid-template-rows: 160px;
  justify-items: center;
  margin-top: -50px;
}

#textbox {
  width: 500px;
  height: 80px;
  margin-top: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 20px;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 70%;
  height: 750px;
  display: -ms-grid;
  display: grid;
  border-radius: 25px;
  padding: 80px 30px 30px 30px;
  overflow: scroll;
  text-align: justify;
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9d6a49), color-stop(#bdaca8), to(#252530));
  background-image: linear-gradient(to right, #9d6a49, #bdaca8, #252530);
  -webkit-box-shadow: 10px 10px 10px 10px;
          box-shadow: 10px 10px 10px 10px;
  overflow: hidden;
  font-family: 'Sulphur Point', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.explore {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 20px 20px 20px 20px 20px 50px 20px 20px;
      grid-template-rows: 50px 20px 20px 20px 20px 20px 50px 20px 20px;
}

.links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 20px 20px 20px 20px 20px;
      grid-template-rows: 50px 20px 20px 20px 20px 20px;
}

.titel {
  margin-top: 30px;
}

.contactus {
  margin-top: 20px;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.social {
  height: 100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 900px 100px 100px 100px 100px 100px;
      grid-template-columns: 900px 100px 100px 100px 100px 100px;
  line-height: 80px;
  margin-left: 0px;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.st0 {
  fill: #252530;
}

.st1 {
  fill: #8CA8AF;
}

.st2 {
  fill: #AA5D26;
}

.st3 {
  opacity: 0.44;
  fill: #F4F0EE;
}

.st4 {
  opacity: 0.38;
  fill: #F4F0EE;
}

.st5 {
  opacity: 0.38;
  fill: #121111;
}

.st6 {
  fill: #3E1D11;
}

.st7 {
  opacity: 0.64;
  fill: #DED1CC;
}

.st8 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #C2B3B6;
}

.st10 {
  fill: #95CEE9;
}

.st11 {
  fill: #334C56;
}

.st12 {
  fill: #458ECC;
}

.st13 {
  opacity: 0.44;
  fill: #141819;
}

.st14 {
  fill: #ADDBEA;
}

.st15 {
  fill: #C8CCCD;
}

.st16 {
  font-family: 'SulphurPoint-Regular';
}

.st17 {
  font-size: 10px;
}

.st18 {
  fill: #492616;
}

.st19 {
  opacity: 0.89;
  fill: #89685C;
}

.st20 {
  opacity: 0.58;
  fill: #89685C;
}

.st21 {
  fill: #89685C;
}

.st22 {
  opacity: 0.55;
  fill: #53443E;
}

.st23 {
  opacity: 0.92;
  fill: #89685C;
}

.st24 {
  fill: #53443E;
}

.st25 {
  opacity: 0.63;
  fill: #53443E;
}

.st26 {
  opacity: 0.45;
  fill: #89685C;
}

.st27 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 1.5704;
  stroke-miterlimit: 10;
}

.st28 {
  fill: #492618;
}

.st29 {
  fill: #492F22;
}

.st30 {
  fill: #6E5144;
}

.st31 {
  fill: #9D6A49;
}

.st32 {
  fill: #9E6C4A;
}

.st33 {
  fill: #B2876E;
}

.st34 {
  fill: #BDACA8;
}

.st35 {
  fill: #DFCECF;
}

.st36 {
  fill: #CDC3C7;
}

.st37 {
  opacity: 0.29;
  fill: #D1C9C5;
}

.st38 {
  fill: none;
}

.st39 {
  fill: #F3B22C;
}

.st40 {
  fill: #B62025;
}

.st41 {
  font-size: 7.9305px;
}

.st42 {
  fill: #492617;
}

.st43 {
  fill: #1B4177;
}

.st44 {
  fill: #41592B;
}

.st45 {
  fill: #B0B8C1;
}

.st46 {
  opacity: 0.31;
  fill: #F7FBFD;
}

.st47 {
  fill: none;
  stroke: #C5B2AD;
  stroke-miterlimit: 10;
}

.st48 {
  fill: #871719;
}

.st49 {
  opacity: 0.49;
  fill: #190C0E;
}

.st50 {
  opacity: 0.49;
  fill: #170C0D;
}

.st51 {
  fill: #602F23;
}

.st52 {
  fill: #9A2C20;
}

.st53 {
  fill: #49170F;
}

.st54 {
  opacity: 0.34;
  fill: #D3CFCE;
}

.st55 {
  opacity: 0.42;
}

.st56 {
  fill: #5481C1;
}

.st57 {
  fill: #7F904C;
}

.st58 {
  fill: #B6892D;
}

p {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

h2 {
  font-size: 18px;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

h3 {
  font-size: 16;
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 80px 250px 600px;
      grid-template-rows: 80px 250px 600px;
}

#slider {
  overflow: hidden;
  border-style: solid;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%;
}

img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.contain {
  max-width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.contain .card {
  position: relative;
  width: 140px;
  height: 200px;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.contain:hover .card {
  -webkit-transform: perspective(500px) rotateY(30deg);
          transform: perspective(500px) rotateY(30deg);
}

.contain .card:hover {
  -webkit-transform: perspective(500px) rotateY(0deg);
          transform: perspective(500px) rotateY(0deg);
}

.contain .card:hover ~ .card {
  -webkit-transform: perspective(500px) rotateY(-30deg);
          transform: perspective(500px) rotateY(-30deg);
}

.contain .card h3 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #be6b4d;
  color: orange;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.contain .card:hover h3 {
  background: rgba(0, 0, 0, 0.4);
  color: #be6b4d;
  -webkit-box-shadow: 0 0 0 150px #be6b4d;
          box-shadow: 0 0 0 150px #be6b4d;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*# sourceMappingURL=style_home.css.map */