.st0 {
  fill: #F7F6F5;
}

.st1 {
  fill: #252530;
}

.st2 {
  fill: #CCCACA;
}

.st3 {
  fill: none;
  stroke: #242730;
  stroke-miterlimit: 10;
}

.st4 {
  fill: #492616;
}

.st5 {
  opacity: 0.89;
  fill: #89685C;
}

.st6 {
  opacity: 0.58;
  fill: #89685C;
}

.st7 {
  fill: #89685C;
}

.st8 {
  opacity: 0.55;
  fill: #53443E;
}

.st9 {
  opacity: 0.92;
  fill: #89685C;
}

.st10 {
  fill: #53443E;
}

.st11 {
  opacity: 0.63;
  fill: #53443E;
}

.st12 {
  opacity: 0.45;
  fill: #89685C;
}

.st13 {
  fill: #492618;
}

.st14 {
  fill: #492F22;
}

.st15 {
  fill: #6E5144;
}

.st16 {
  fill: #9D6A49;
}

.st17 {
  fill: #9E6C4A;
}

.st18 {
  fill: #B2876E;
}

.st19 {
  fill: #BDACA8;
}

.st20 {
  fill: #DFCECF;
}

.st21 {
  fill: #CDC3C7;
}

.st22 {
  opacity: 0.29;
  fill: #D1C9C5;
}

.st23 {
  fill: none;
}

.st24 {
  fill: #D1C9C5;
}

.st25 {
  fill: #492617;
}

p {
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

body {
  margin: 0;
}

header {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.699);
  color: #ffffff;
  font-family: 'Sulphur Point', sans-serif;
  height: 80px;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 70px;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 30px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

#logo:hover {
  font-size: 2.3em;
}

a, a:visited {
  color: #ededed;
  text-shadow: 1px 1px 1px #000102;
}

a:hover {
  color: #be6b4d;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav i {
  padding: 0 10px 0 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 160px;
  overflow: auto;
}

nav ul li {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav ul li ul li {
  background-color: black;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
}

nav ul li ul li a {
  display: block;
  text-align: left;
  width: 100px;
  padding: 7px 40px 10px 7px;
}

.section1 {
  background-image: url(../svg/astroitsbeltp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  display: -ms-grid;
  display: grid;
  margin-top: -50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1.5px 1.5px #be6b4d;
  color: #fff;
  width: 700px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;
  border-radius: 25px;
}

footer {
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9d6a49), color-stop(#bdaca8), to(#252530));
  background-image: linear-gradient(to right, #9d6a49, #bdaca8, #252530);
  -webkit-box-shadow: 10px 10px 10px 10px;
          box-shadow: 10px 10px 10px 10px;
}

.social {
  height: 100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 900px 100px 100px 100px 100px 100px;
      grid-template-columns: 900px 100px 100px 100px 100px 100px;
  line-height: 80px;
  margin-left: 0px;
}

.links {
  margin-left: 50px;
  font-size: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.links:hover {
  -webkit-filter: grayscale(100%) brightness(70%) contrast(0.9);
          filter: grayscale(100%) brightness(70%) contrast(0.9);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

body {
  margin: 0;
}

#textbox {
  margin-left: 250px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 20px;
  font: 14px/1.3 Arial,sans-serif;
}

.container {
  margin-left: 160px;
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 700px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  border-radius: 25px;
}

.picture1 {
  background-image: url(../img/Asteroid-in-space-780x405.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: solid;
}

.asteroidtext {
  margin: 10px 20px;
  text-align: justify;
}
/*# sourceMappingURL=style_submeteors.css.map */