@import './layout';
@import './stars';
@import './signs';
@import './variables';



.container{
  display: grid;
  grid-template-rows: 40px;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 30px;
}

.container_c{
  margin-top: 30px;
  background-color: rgba(#000000, 0.4);
  color: #fff;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px;
  border-radius: 25px;
}

.description {
  margin-top: 30px;
  background-color: rgba(#000000, 0.4);
  color: #fff;
  width: 100%;
  height: 570px;
  border-radius: 25px;
  overflow: scroll;
  padding: 0 10px 30px 10px;
}