header {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.699);
  color: #ffffff;
  font: 14px/1.3 Arial,sans-serif;
  height: 50px;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  width: 700px;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 30px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

#logo:hover {
  font-size: 2.3em;
}

a, a:visited {
  color: #ededed;
  text-shadow: 1px 1px 1px #000102;
}

a:hover {
  color: #be6b4d;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav i {
  padding: 0 10px 0 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 160px;
  overflow: auto;
}

nav ul li {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav ul li ul li {
  background-color: black;
}

nav ul li ul {
  display: none;
  position: absolute;
}

nav ul li:hover ul {
  display: block;
  opacity: 1;
}

nav ul li ul li a {
  display: block;
  text-align: left;
  width: 100px;
  padding: 7px 40px 10px 7px;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

body {
  margin: 0;
}

.section1 {
  background-image: url(../img/section1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  display: -ms-grid;
  display: grid;
}

footer {
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#38160a), color-stop(#385567), to(#162431));
  background-image: linear-gradient(to right, #38160a, #385567, #162431);
  -webkit-box-shadow: 10px 10px 10px 10px;
          box-shadow: 10px 10px 10px 10px;
}
/*# sourceMappingURL=style_aries.css.map */