@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 20px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.st0 {
  fill: #252530;
}

.st1 {
  fill: #8CA8AF;
}

.st2 {
  fill: #AA5D26;
}

.st3 {
  opacity: 0.44;
  fill: #F4F0EE;
}

.st4 {
  opacity: 0.38;
  fill: #F4F0EE;
}

.st5 {
  opacity: 0.38;
  fill: #121111;
}

.st6 {
  fill: #3E1D11;
}

.st7 {
  opacity: 0.64;
  fill: #DED1CC;
}

.st8 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #C2B3B6;
}

.st10 {
  fill: #95CEE9;
}

.st11 {
  fill: #334C56;
}

.st12 {
  fill: #458ECC;
}

.st13 {
  opacity: 0.44;
  fill: #141819;
}

.st14 {
  fill: #ADDBEA;
}

.st15 {
  fill: #C8CCCD;
}

.st16 {
  font-family: 'SulphurPoint-Regular';
}

.st17 {
  font-size: 10px;
}

.st18 {
  fill: #492616;
}

.st19 {
  opacity: 0.89;
  fill: #89685C;
}

.st20 {
  opacity: 0.58;
  fill: #89685C;
}

.st21 {
  fill: #89685C;
}

.st22 {
  opacity: 0.55;
  fill: #53443E;
}

.st23 {
  opacity: 0.92;
  fill: #89685C;
}

.st24 {
  fill: #53443E;
}

.st25 {
  opacity: 0.63;
  fill: #53443E;
}

.st26 {
  opacity: 0.45;
  fill: #89685C;
}

.st27 {
  fill: none;
  stroke: #C2B3B6;
  stroke-width: 1.5704;
  stroke-miterlimit: 10;
}

.st28 {
  fill: #492618;
}

.st29 {
  fill: #492F22;
}

.st30 {
  fill: #6E5144;
}

.st31 {
  fill: #9D6A49;
}

.st32 {
  fill: #9E6C4A;
}

.st33 {
  fill: #B2876E;
}

.st34 {
  fill: #BDACA8;
}

.st35 {
  fill: #DFCECF;
}

.st36 {
  fill: #CDC3C7;
}

.st37 {
  opacity: 0.29;
  fill: #D1C9C5;
}

.st38 {
  fill: none;
}

.st39 {
  fill: #F3B22C;
}

.st40 {
  fill: #B62025;
}

.st41 {
  font-size: 7.9305px;
}

.st42 {
  fill: #492617;
}

.st43 {
  fill: #1B4177;
}

.st44 {
  fill: #41592B;
}

.st45 {
  fill: #B0B8C1;
}

.st46 {
  opacity: 0.31;
  fill: #F7FBFD;
}

.st47 {
  fill: none;
  stroke: #C5B2AD;
  stroke-miterlimit: 10;
}

.st48 {
  fill: #871719;
}

.st49 {
  opacity: 0.49;
  fill: #190C0E;
}

.st50 {
  opacity: 0.49;
  fill: #170C0D;
}

.st51 {
  fill: #602F23;
}

.st52 {
  fill: #9A2C20;
}

.st53 {
  fill: #49170F;
}

.st54 {
  opacity: 0.34;
  fill: #D3CFCE;
}

.st55 {
  opacity: 0.42;
}

.st56 {
  fill: #5481C1;
}

.st57 {
  fill: #7F904C;
}

.st58 {
  fill: #B6892D;
}

p {
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 16;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(125deg, #00103a 30%, #3e5f77 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 0;
  overflow: scroll;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Sulphur Point', sans-serif;
  color: white;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  font-family: 'Sulphur Point', sans-serif;
  color: white;
}

p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  font-family: 'Sulphur Point', sans-serif;
  z-index: 999;
  color: white;
}

#logo {
  margin-left: 180px;
}

.sky-container {
  width: 500px;
  height: 500px;
  background: linear-gradient(125deg, #010e2e 30%, #3e5f77 100%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 50px;
  opacity: 0.5;
  -webkit-transition: 0,7s;
  transition: 0,7s;
}

.sky-container:hover {
  opacity: 1;
}

.border {
  width: 500px;
  height: 500px;
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 100;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  -webkit-filter: drop-shadow(0, 0, 6px #699bff);
          filter: drop-shadow(0, 0, 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  width: 30px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 100%;
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}

.star:nth-child(2) {
  top: calc(50% - -50px);
  left: calc(50% - 190px);
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.star:nth-child(3) {
  top: calc(50% - -90px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.star:nth-child(4) {
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  -webkit-animation-delay: 4700ms;
          animation-delay: 4700ms;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
  -webkit-animation-delay: 4700ms;
          animation-delay: 4700ms;
}

.star:nth-child(5) {
  top: calc(50% - -190px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(20);
            transform: translateX(20);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

@keyframes shooting {
  0% {
    -webkit-transform: translateX(20);
            transform: translateX(20);
  }
  100% {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
}

#demo {
  background: linear-gradient(125deg, #00103a 30%, #3e5f77 100%);
  width: 500px;
  height: 100px;
  background-color: #fff;
  border-radius: 20px;
  padding-top: 20px;
  border-style: solid;
  border-color: white;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -999;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 40px;
}
/*# sourceMappingURL=style.css.map */